.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    display: flex;
    justify-content: space-between; // around the main axis
    align-items: center; //centers along the cross axis
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; //grow-0, shrink-0, basis-18%, this is the space that it occupies

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    height: 80rem;
    background-color: orangered;
    flex: 1; //grows as much as it can
}